.Layout {
    height: 100%;
    box-sizing: border-box; /* fix css size bug/feature... */
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr); /* fr = Fraction*/
    background-color :rgb(238, 181, 158);
}

.Layout > header, .Layout > footer {
    grid-column: span 6;
}

.Layout > main {
    grid-column: span 5;
}

.Layout, .Layout > * {
    border: 1px solid black;
}