.ContactUs {
	margin: 20px;
    padding: 20px;
}

.ContactUs > .Headline {
    text-align: center;
}

.ContactUs > .TextBox { 
    width: 450px;
    margin: 5px !important;
}
.ContactUs .black {
    color: black;
}