.Menu > nav {
	display: flex;
    flex-direction: column;
}

.Menu > nav > a {
    margin-top: 20px;
}

.Menu .active { /* .active is the exact class that NavLink uses */
    color: darkcyan;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
}
